---
- name: Setup Kubernetes
  hosts:
    - workers
    - masters
  remote_user: debian

  tasks:
    - name: Setup environment 
      ansible.builtin.shell: 
        cmd: |
          swapoff -a
          (crontab -l 2>/dev/null; echo "@reboot /sbin/swapoff -a") | crontab - || true
          cat <<EOF | tee /etc/modules-load.d/k8s.conf
          overlay
          br_netfilter
          EOF

          modprobe overlay
          modprobe br_netfilter

          cat <<EOF | tee /etc/sysctl.d/k8s.conf
          net.bridge.bridge-nf-call-iptables  = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward                 = 1
          EOF

          sysctl --system
        creates: /etc/sysctl.d/k8s.conf
      become: true
      become_method: sudo

    - name: Install base dependencies
      ansible.builtin.apt:
        pkg:
          - apt-transport-https
          - ca-certificates
          - curl
          - gpg
          - jq
        state: present
        update_cache: yes
      become: true
      become_method: sudo
      
    - name: Install Kubernetes keys
      ansible.builtin.shell:
        cmd: curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key | gpg --batch --yes --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        creates: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
      become: true
      become_method: sudo

    - name: Install Kubernetes repository
      ansible.builtin.apt_repository:
        repo: deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.35/deb/ /
        state: present
        update_cache: true
      become: true
      become_method: sudo

    - name: Install Kubernetes dependencies
      ansible.builtin.apt:
        pkg:
          - containerd
          - kubelet
          - kubeadm
          - kubectl
        state: present
      become: true
      become_method: sudo

    - name: Lock Kubernetes versions
      ansible.builtin.shell:
        cmd: apt-mark hold kubelet kubeadm kubectl
      become: true
      become_method: sudo

    - name: Setup ContainerD configs
      ansible.builtin.shell:
        cmd: |
          containerd config default | tee /etc/containerd/config.toml
          sed -e 's/SystemdCgroup = false/SystemdCgroup = true/g' -i /etc/containerd/config.toml
      become: true
      become_method: sudo

    - name: Restart SystemD service for ContainerD
      ansible.builtin.systemd_service:
        name: containerd.service
        state: restarted
        enabled: true
      become: true
      become_method: sudo

    - name: Setup Kubelet node IP
      ansible.builtin.shell:
        cmd: |
          LOCAL_IP="$(ip --json addr show enp1s0 | jq -r '.[0].addr_info[] | select(.family == "inet") | .local')"

          if [ -n "$(cat /etc/default/kubelet | grep "KUBELET_EXTRA_ARGS=--node-ip=$LOCAL_IP")" ]; then
            exit 0
          fi
          
          cat << EOF | tee /etc/default/kubelet 
          KUBELET_EXTRA_ARGS=--node-ip=$LOCAL_IP
          EOF
      become: true
      become_method: sudo
