---
- name: Setup Kubernetes master
  hosts: workers
  remote_user: debian

  tasks:
    - name: Join Kubernetes cluster
      ansible.builtin.shell:
        cmd: "{{ hostvars[groups['masters'][0]].ansible_facts['kubeadm_join_command'] }}"
      become: true
      become_method: sudo

      # NOTE: Calico expects files to be in `/usr/lib/cni`, but they are in `/opt/cni/bin`
    - name: Link Calico CNI
      ansible.builtin.shell:
        cmd: |
          if [ -e /usr/lib/cni/calico ]; then
            exit 0
          fi

          mkdir -p /usr/lib/cni
          ln -s /opt/cni/bin/* /usr/lib/cni/
      become: true
      become_method: sudo